@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.

<br />
<br />
<h3>--- LINKS TO CODE TEST PAGES ---</h3>
<a href="F2G2Demonstrator.html">Open F2G2Demonstrator.html</a>
